Projeto tipo INSIGHT

Metodologia CRISP-DS

# 0.0 Imports

In [9]:
import pandas as pd
import numpy as np

# 1. Questão de Negócio

## Questões de Negócio


1. Qual o número de imóveis por ano de construção? 

2. Qual o menor número de quartos por ano de construção dos imóveis? 

3. Qual o preço de compra mais alto por cada número de quartos? 

4. Qual a soma de todos os preços de compra por cada número de quartos?

5. Qual a soma de todos os preços de compra pelo número de quartos e banheiros?

6. Qual o tamanho médio das salas dos imóveis por ano de construção? 

7. Qual o tamanho mediano das salas dos imóveis por ano de construção? 

8. Qual o desvio-padrão do tamanho das salas dos imóveis por ano de construção? 

9. Como é o crescimento médio preços de compra dos imóveis, por ano, por dia e semana do ano? 

10. Habilitar no mapa a identificação das casas com o maior preço.

In [10]:
dados = pd.read_csv('kc_house_data.csv')
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
#1Crie uma nova coluna chamada: “house_age”
#Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
#Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’
dados['date'] = pd.to_datetime(dados['date'])
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [12]:
dados['house_age'] = np.where(dados['date'] > '2014-01-01' ,'new_house' , 'old_house')
dados

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,new_house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,new_house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,new_house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,new_house
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,new_house
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,new_house
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,new_house
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,new_house

In [13]:
# dados['date'].sort_values() menor data : 2014-05-02
dados['house_age'].value_counts()

new_house    21613
Name: house_age, dtype: int64

In [14]:
#2Crie uma nova coluna chamada: “dormitory_type”
#Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
#Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
#Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [15]:
#value counts mostra a quantidade de cada um dos itens
dados['bedrooms'].value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [16]:
#unique: monta um array com cada tipo de item
dados['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33], dtype=int64)

In [17]:
#foi atribuido NA para bedrooms = 0
dados['dormitory_type'] = dados['bedrooms'].apply( lambda x: 'studio' if x == 1 else
                                                             'apartment' if x == 2 else
                                                             'house' if x > 2 else 'NA')
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,new_house,house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,new_house,house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house,apartment
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,new_house,house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house,house

In [18]:
#3Crie uma nova coluna chamada: “condition_type” - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
#Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
#Se o valor da coluna “condition” for igual à 5 => ‘good’
dados['condition'].unique()

array([3, 5, 4, 1, 2], dtype=int64)

In [19]:
dados['condition_type'] = dados['condition'].apply( lambda x: 'bad' if x <= 2 else
                                                             'regular' if x == 3 or x == 4 else
                                                             'good' if x == 5 else 'NA')

# 2. Entedimento do Negócio

# 3. Coleta de Dados

# 4. Limpeza de Dados

# 5. Exploração dos Dados